@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

.section {
    background-color:#E5E5E5;
    height: 600px;
    position: relative;
    padding: 0 10% 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.header {
    width: 60%;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    /* or 133% */

    text-align: center;
    color: #464547;
}

.button {
    position: absolute;
    top: 115px;
    right: 20px;
    border-color: red;
    border-width: 2px;
    border-style: solid;
    background-color: none;
    color: red;
    padding: 10px;
}

.list {
    display: flex;
    flex-direction: row;
}