.page {
    background-color: #f5f5f5;
    padding: 20px;
    text-align: left;
}

.header {
    font-size: 32px;
  font-weight: bold;
  color: #333333;
  font-family: 'Oswald';
}

.text {
    font-size: 16px;
  color: #555555;
  font-family: 'Source Sans Pro';
}

.link {
  color: #55C2D8;
  text-decoration: none;
  font-family: 'Source Sans Pro';
}

.link:hover {
  text-decoration: underline;
}