.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    width: 315px;
    max-height: 400px;
    padding-top:2%;
    border-radius: 8px;
}


.card h2 {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    /* or 146% */
  
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
  
    color: #464547;
}

.card p {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    /* or 133% */
  
    text-align: center;
  
    color: #666666;
}

.card:hover {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
}



.card:hover h2 {
    position: relative;
}
  
  .card:hover h2::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #55C2D8;
    bottom: -5px;
    left: 0;
    animation: underline 0.2s ease forwards;
  }
  
  @keyframes underline {
    0% {
      transform: scaleX(0);
    }
    100% {
      transform: scaleX(1);
    }
  }
  
