.nav {
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    background-color: #464547;
    padding: 0 1rem;
  }

.navlink {
    font-family: 'Source Sans Pro';
    color: white;
    margin-right: 1rem;
    text-decoration: none;
  }
.navlink:hover {
    text-decoration: underline;
    color: #55C2D8;
} 